.WindowLayout.PageAbout {
    flex-direction: column;

    .icon {
        background-image: url('../images/icon.png');
        background-size: cover;
        background-position: center;
        width: 64px;
        height: 64px;
    }

    h1 {
        font-size: 1em;
    }

    p {
        margin: 0;
        font-size: .75em;
    }
}
